<script>
    function addComment(entityId, type) {
        let params = new URLSearchParams();
        let commentContent = document.getElementById('new-comment-' + type + '-' + entityId).value;
        let url = type === 'post' ? '/comment/create/post/' + entityId : '/comment/create/discussion/' + entityId;

        params.append('comment_content', commentContent)
        params.append('comment_type', type)

        axios({
            method: 'post',
            url: url,
            data: params
        }).then(
            response => {
                document.getElementById(type + '-comments-' + entityId).innerHTML += response.data.commentContent;
                document.getElementById('new-comment-' + type + '-' + entityId).value = '';
            }
        )
    }

    function deleteComment(commentId) {
        axios.delete('/comment/delete/' + commentId).then(
            response => {
                document.getElementById('comment-' + commentId).innerHTML =
                    '<div class="m-4 bg-indigo-200 rounded" id="post-' + commentId + '">' + '{{ "Comment Deleted" }}' +
                    '</div>';
            }
        )
    }
</script>