<div class="text-center accept-join-request-button-{{ request.id }}">
    <button onclick="acceptJoinRequest('{{ request.id }}')"
            class="bg-indigo-500 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold m-4 py-2 px-4 rounded">
        {{ 'Accept Request' }}
    </button>
</div>