{% if (group.groupAdmin(app.user.profile)) %}
    <div>
        <a href="{{ path('group_edit', {'groupId': group.id}) }}">
            <button class="bg-indigo-500 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold my-2 py-2 px-4 rounded">
                {{ 'Manage group' }}
            </button>
        </a>
    </div>
{% elseif(group.isInGroup(app.user.profile)) %}
    {% include('components/buttons/group/membership/leave.html.twig') %}
{% else %}
    {% if(group.isPublic()) %}
        {% include('components/buttons/group/membership/join.html.twig') %}
    {% else %}
        {% if(group.getRequestByProfile(app.user.profile)) %}
            {% include('components/buttons/group/membership/delete-request.html.twig') with {
                request: group.getRequestByProfile(app.user.profile)
            } %}
        {% else %}
            {% include('components/buttons/group/membership/create-request.html.twig') %}
        {% endif %}
    {% endif %}
{% endif %}
