<div class="create-join-request-button-{{ group.id }}">
    <button onclick="createJoinGroupRequest('{{ group.id }}')"
            class="bg-indigo-500 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold my-4 py-2 px-4 rounded">
        {{ 'Join group' }}
    </button>
</div>