<div class="text-center delete-join-request-button-{{ request.id }}">
    <button onclick="deleteJoinGroupRequest('{{ request.id }}')"
            class=" bg-rose-700 hover:bg-rose-600 focus:shadow-outline focus:outline-none text-white font-bold m-4 py-2 px-4 rounded">
        {{ 'Cancel request' }}
    </button>
</div>