{% if app.user.profile.isFriend(profile.id) %}
    <div class="text-center justify-center flex bg-indigo-200 mt-4 p-2 rounded">
        {{ 'You are friends' }}
    </div>
    <div class="flex justify-center">
        {% include('components/buttons/button-red.html.twig') with {
            'url': path('friendship_delete', {'profileId': profile.id}),
            'title': 'Remove'
        } %}
    </div>

{% elseif app.user.profile.isFriendshipRequested(profile.id) %}
    <div class="text-center justify-center flex bg-indigo-200 m-4 p-4 rounded">
        {{ 'Friendship request sent' }}
    </div>
{% elseif (app.user.profile.id != profile.id) %}
    {% include('components/buttons/button-blue.html.twig') with {
        'url': path('friendship_request_create', {'profileId': profile.id}),
        'title': 'Add to Friends'
    } %}
{% endif %}





{#{% if app.user.profile.isFriend(profile.id) %}#}
{#    <div class="text-center justify-center flex bg-indigo-200 m-4 p-4 rounded">#}
{#        {{ 'You are friends' }}#}
{#    </div>#}
{#{% elseif app.user.profile.isFriendshipRequested(profile.id) %}#}
{#    <div class="text-center justify-center flex bg-indigo-200 m-4 p-4 rounded">#}
{#        {{ 'Friendship request sent' }}#}
{#    </div>#}
{#{% elseif (app.user.profile.id != profile.id) %}#}
{#    {% include('components/buttons/button-blue.html.twig') with {#}
{#        'url': path('friendship_request_create', {'profileId': profile.id}),#}
{#        'title': 'Add to Friends'#}
{#    } %}#}
{#{% endif %}#}
