{% extends 'base.html.twig' %}
{% block body %}
    <img src="{{  asset('build/images/image1.90a37fd8.jpg') }}">
    <div>
        {% for movie in movies %}
            <li>{{ movie.title }}</li>
        {% endfor %}
    </div>
{% endblock %}
