{% if(group.isInGroup(app.user.profile)) %}
    {% include('components/buttons/button-red.html.twig') with {
        'url': path('group_leave', {'groupId': group.id}),
        'title': 'Leave group'
    } %}
{% else %}
    {% if(group.type == constant('PUBLIC_GROUP_TYPE', group)) %}
        {% include('components/buttons/button-blue.html.twig') with {
            'url': path('group_join', {'groupId': group.id}),
            'title': 'Join group'
        } %}
    {% else %}
        {% if(group.isRequested(app.user)) %}
            <div class="text-center bg-indigo-200 mx-4 rounded">
                {{ 'Request sent' }}
            </div>
        {% else %}
            {% include('components/buttons/button-blue.html.twig') with {
                'url': path('group_request_create', {'groupId': group.id}),
                'title': 'Join group'
            } %}
        {% endif %}
    {% endif %}
{% endif %}
