<button id="like-button-{{ post.id }}"
        onclick="like({{ post.id }})"
        class="{{ post.getLikeButtonStyle(app.user.profile)}} focus:shadow-outline focus:outline-none text-white font-bold mt-4 py-2 px-4 rounded">
    {{ post.getLikeButtonText(app.user.profile) }}
</button>
