{% extends 'base.html.twig' %}

{% block title %}Add photo{% endblock %}

{% block body %}
    <div class="grid grid-cols-12 gap-4">
        {% if(app.user) %}
            <div class="col-span-2 col-start-2">
                {% include 'components/profile/navigation.html.twig' %}
            </div>
        {% endif %}
        <div class="col-span-8 bg-indigo-300 rounded">
            <div>
                <div class="mx-6 mt-6 grid grid-cols-12">
                    <div class="text-left col-span-1 inline">
                        {% include('components/buttons/back-button.html.twig')
                            with {'button_url': path('album_show', {'albumId': photo.album.id})}%}
                    </div>
                    <div class="text-right col-span-1 col-start-12 inline">
                        {% include('components/buttons/delete-button.html.twig')
                            with {'button_url': path('photo_delete', {'photoId': photo.id})}%}
                    </div>
                </div>
            </div>
            <div class="m-6">
                <div class="my-4">
                    {{ photo.description }}
                </div>
                <img src="{{ photo.imageUrl }}">
            </div>
        </div>
    </div>
{% endblock %}