{% extends 'base.html.twig' %}

{% block title %}Add photo{% endblock %}

{% block body %}
    <div class="grid grid-cols-12 gap-4">
        {% if(app.user) %}
            <div class="col-span-2 col-start-2">
                {% include 'components/profile/navigation.html.twig' %}
            </div>
        {% endif %}
        <div class="col-span-8 bg-indigo-300 rounded">
            <div>
                <div class="ml-6 mt-6">
                    <a href="{{ path('album_show', {'albumId': photo.album.id}) }}">Back</a>
                </div>
            </div>
            <div class="text-center mt-6">
            </div>
            <div class="m-6">
                <div class="my-4">
                    {{ photo.description }}
                </div>
                <img src="{{ photo.imageUrl }}">
            </div>
        </div>
    </div>
{% endblock %}