{% extends 'base.html.twig' %}

{% block title %}Add photo{% endblock %}

{% block body %}
    <div class="grid grid-cols-12 gap-4">
        {% if(app.user) %}
            <div class="col-span-2 col-start-2">
                {% include 'components/profile/navigation.html.twig' %}
            </div>
        {% endif %}
        <div class="col-span-8 bg-indigo-300 rounded">
            <div>
                <div class="mx-6 mt-6 grid grid-cols-12">
                    <div class="text-left col-span-1 inline">
                        <a href="{{ path('album_show', {'albumId': photo.album.id}) }}">
                            <button class="bg-indigo-200 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-gray-700 font-bold mt-4 py-2 px-4 rounded">
                                {{ 'Back' }}
                            </button>
                        </a>
                    </div>
                    <div class="text-right col-span-1 col-start-12 inline">
                        {% if(photo.actionAllowed(app.user.profile)) %}
                            {% include('components/buttons/photo/delete.html.twig') %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="m-6">
                <img src="{{ photo.imageUrl }}">
                <div class="my-4">
                    {{ photo.description }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}