<div class="delete-invite-button-{{ inviteId }}">
    <button onclick="deleteInvite({{ inviteId }})"
            class="bg-rose-700 hover:bg-rose-600 focus:shadow-outline focus:outline-none text-white font-bold m-4 p-2 rounded">
        {{ 'Cancel Invite' }}
    </button>
</div>