{% extends 'base.html.twig' %}

{% block title %}Albums{% endblock %}

{% block body %}
    <div class="grid grid-cols-12 gap-4">
        {% if(user) %}
            <div class="col-span-2 col-start-2">
                {% include 'components/profile/navigation.html.twig' %}
            </div>
        {% endif %}
        <div class="col-span-8 bg-indigo-300 rounded">
            <div class="grid grid-cols-4">
                {% for album in albums %}
                    <div class="m-4">
                        <div>
                            <a href="#">
                                <img src="{{ album.photos.first().imageUrl }}">
                            </a>
                        </div>
                        <div class="text-xl text-center">
                            <a href="#">
                                {{ album.title }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
