<div class="flex justify-center ">
    <button id="{{ id }}-button"
            onclick="switchTab('{{ id }}', '{{ tabType }}')"
            class="{% if(isActive) %}bg-indigo-500 text-white{% else %}bg-indigo-200 text-gray-700{% endif %} w-full tab-links hover:bg-indigo-400 focus:shadow-outline focus:outline-none font-bold mt-4 py-2 mx-2 rounded">
        {{ title }}
    </button>
</div>