<div class="flex justify-center">
    <button onclick="createFriendship({{ profile.id }})"
            class="bg-indigo-500 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold mb-4 py-2 px-4 rounded">
        {{ 'Accept request' }}
    </button>
</div>