<button onclick="deleteFriendshipRequest({{ profile.id }})"
        class="w-full bg-rose-700 hover:bg-rose-600 focus:shadow-outline focus:outline-none text-white font-bold mb-4 py-2 px-4 rounded">
    {{ 'Cancel request' }}
</button>