<div>
    <button onclick="acceptJoinRequest('{{ requestId }}')"
            class="bg-indigo-500 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold m-4 p-2 rounded">
        {{ 'Accept Request' }}
    </button>
</div>
<div>
    <button onclick="declineJoinRequest('{{ requestId }}')"
            class="bg-rose-700 hover:bg-rose-600 focus:shadow-outline focus:outline-none text-white font-bold m-4 p-2 rounded">
        {{ 'Decline Request' }}
    </button>
</div>


