<div>
    <button onclick="createInvite({{ profileId }},{{ groupId }})"
            class="bg-indigo-500 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold m-4 p-2 rounded">
        {{ 'Create invite' }}
    </button>
</div>


