<button
        onclick="deleteGroup({{ group.id }}, '{{ group.title }}')"
        class="bg-rose-700 hover:bg-rose-600 focus:shadow-outline focus:outline-none text-white font-bold my-2 py-2 px-4 rounded">
    {{ 'Delete group' }}
</button>
<script>
    function deleteGroup(groupId, groupTitle) {
        let confirmation = confirm('Are you sure you want to delete group "' + groupTitle +
            '"? All posts and photos will be deleted too, and this action can not be reverted.')

        if (confirmation) {
            axios.delete('/group/delete/' + groupId
            ).then(response => {
                    alert('Group ' + groupTitle + ' was deleted.');
                    window.location.href = response.data.redirectUrl;
                }
            )
        }
    }
</script>